name: GitHub CI

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: 0 0 * * 0

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

jobs:
  markdownfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker pull tianon/markdownfmt
      - run: .ci/check-markdownfmt.sh
  ymlfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker pull tianon/ymlfmt
      - run: .ci/check-ymlfmt.sh
  short:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: .ci/check-short.sh
  required-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: .ci/check-required-files.sh
  no-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: .ci/check-pr-no-readme.sh
    if: ${{ github.event_name == 'pull_request' }}
